@model WebGallery.Models.Picture

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Add New Picture</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form enctype="multipart/form-data" asp-action="Create" id="submitPicture">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-group">
                <div class="custom-file">
                    <input name="LoadDate" type="file" class="form-control custom-file-input" id="picture">
                    <label class="control-label custom-file-label" for="picture" id="pictureLable"></label>

                </div>
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit" value="Create" id="submit"> Add </button>
                </div>
            </div>

        </form>

    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info" style="margin-top:15px;">Back to List</a>
</div>


@section scripts{

    <script>

        // sent data to the server

        let fi = document.getElementById('picture');
        fi.addEventListener('change',function(){
        
            $("#pictureLable").text(fi.files[0].name);
        })
        $("#submit").click(function () {

            if (fi.files.length > 0) {
                
               
                $("#submitPicture").submit();
            }

        })


    </script>
}



